@model IEnumerable<ChessinatorDomain.Model.Tournament>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                Дати проведення
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsOnline)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsOpen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlayerLimit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoundCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Link)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Organizer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeControl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TournamentType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Venue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @(item.StartTime.ToString("dd.MM.yyyy HH:mm") + " - " + item.EndTime.ToString("dd.MM.yyyy HH:mm"))
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsOnline)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsOpen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlayerLimit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoundCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Link)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Organizer.Name)
            </td>
            <td>
                    @(item.TimeControl != null ? $"{item.TimeControl.BaseMinutes} | {item.TimeControl.IncSeconds}" : "N/A")
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.TournamentType.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Venue.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<div class="row">
    <div class="col-3">
        <div id="countByTypeChart"></div>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawCharts);

        function drawCharts() {
            fetch('/api/charts/countByType')
                .then(response => response.json())
                .then(data => {
                    const dataTable = new google.visualization.DataTable();
                    dataTable.addColumn('string', 'Тип');
                    dataTable.addColumn('number', 'Кількість турнірів');

                    const colorMap = {
                    0: '#EEEEEE', // Red for ID 0
                    1: '#222831', // Green for ID 1
                    2: '#A5CBC3'  // Blue for ID 2
                    };


                    data.forEach(item => {
                        dataTable.addRow([item.type, item.count]);
                 });

                    const options = {
                        title: 'Турніри за типами',
                        width: 600,
                        height: 400,
                        legend: { position: 'none' },
                        backgroundColor: '#31363F',
                        colors: ['#A5CBC3'],
                                // Change title text color
                        titleTextStyle: {
                        color: '#EEEEEE', // Red title text
                        fontSize: 18,
                        bold: true
                        },
                                hAxis: {
                        textStyle: { color: '#EEEEEE' } // Green X-axis labels
                        },

                        // Change Y-axis text color
                        vAxis: {
                        textStyle: { color: '#EEEEEE' } // Blue Y-axis labels
                        },
                    };

                    const chart = new google.visualization.ColumnChart(document.getElementById('countByTypeChart'));

                    chart.draw(dataTable, options);
                });
        }
    </script>
}
