@model IEnumerable<ChessinatorDomain.Model.ChessMatch>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RoundNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Moves)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BlackPlayer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tournament)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WhitePlayer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MatchResult)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RoundNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Moves)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BlackPlayer.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tournament.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WhitePlayer.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MatchResult.Result)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary btn-sm">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary btn-sm">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<div class="row">
    <div class="col-3">
        <div id="countByResultChart"></div>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawCharts);

        function drawCharts() {
            fetch('/api/charts/countByResult')
                .then(response => response.json())
                .then(data => {
                    const dataTable = new google.visualization.DataTable();
                    dataTable.addColumn('string', 'Результат');
                    dataTable.addColumn('number', 'Кількість матчів');
                    dataTable.addColumn({ type: 'string', role: 'style' });

                    const colorMap = {
                    "Перемога білих": "#EEEEEE", // Red for 1-0
                    "Перемога чорних": "#222831", // Green for 0-1
                    "Нічия": "#A5CBC3" // Blue for 1/2-1/2
                    };

                    data.forEach(item => {
                        const color = colorMap[item.result] || "#000000"; // Default to black if unknown
                        dataTable.addRow([item.result, item.count, `color: ${color}`]);
                    });

                    const options = {
                        title: 'Матчі за результатом',
                        width: 600,
                        height: 400,
                        legend: { position: 'none' },
                        backgroundColor: '#31363F',
                        colors: ['#EEEEEE', '#222831', '#A5CBC3'],
                                // Change title text color
                        titleTextStyle: {
                        color: '#EEEEEE', // Red title text
                        fontSize: 18,
                        bold: true
                        },
                                hAxis: {
                        textStyle: { color: '#EEEEEE' } // Green X-axis labels
                        },

                        // Change Y-axis text color
                        vAxis: {
                        textStyle: { color: '#EEEEEE' } // Blue Y-axis labels
                        },

                    };

                    const chart = new google.visualization.ColumnChart(document.getElementById('countByResultChart'));

                    chart.draw(dataTable, options);
                });
        }
    </script>
}
